/** Fonts
--------------------------------------------- **/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400);

/** Main styles
--------------------------------------------- **/

* {
	margin: 0px;
	padding: 0px;
}

body, html {
  font: 100%/1.5 'Roboto';
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  padding: 10px 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: underline;
}

section {
	width: 100vw;
	margin-top: 10px;
	display: inline-block;
}

.container {
	width: 90vw;
	margin: auto;
}

.divider {
	font-size: 1.2rem;
	border-bottom: 1px solid #333333;
	margin-bottom: 10px;
}

@media (min-width: 50rem) {
	.container {
		width: 70vw;
	}

	.divider {
		font-size: 1.4rem;
	}
}

@media (min-width: 70rem) {
	.container {
		width: 50vw;
	}

	.divider {
		font-size: 1.4rem;
	}
}

.item {
	width: 100%;
	display: inline-block;
	position: relative;
}

.item .name {
	float: left;
}

.item .details {
	font-size: 0.8rem;
}

.item .italic {
	font-style: italic;
}

.item .bold {
	font-weight: 400;
}

.item .year {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.8rem;
	vertical-align: middle;
}

@media (min-width: 50rem) {
	.item .year {
		font-size: 0.8rem;
	}
}

@media (min-width: 70rem) {
	.item .year {
		font-size: 1rem;
	}
}

/** Header
--------------------------------------------- **/

.me {
	font-size: 1.6rem;
	line-height: 1.6rem;
	float: left;
}

.contact {
	font-size: 0.8rem;
	line-height: 0.8rem;
	float: right;
}

@media (min-width: 50rem) {
	.me {
		font-size: 1.8rem;
		line-height: 1.8rem;
	}

	.contact {
		font-size: 0.9rem;
		line-height: 0.9rem;
	}
}

@media (min-width: 70rem) {
	.me {
		font-size: 2rem;
		line-height: 2rem;
	}

	.contact {
		font-size: 1rem;
		line-height: 1rem;
	}
}

/** Education
--------------------------------------------- **/
