/** Fonts
--------------------------------------------- **/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

/** Main styles
--------------------------------------------- **/

* {
	margin: 0px;
	padding: 0px;
}

body, html {
  font: 100%/1.5 'Roboto';
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #333333;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.section {
	width: 100vw;
	display: block;
	padding: 20px 0;
}

.container {
	width: 80vw;
	margin: 0 auto;
}

@media (min-width: 50rem) {
	.container {
		width: 50vw;
	}
}

@media (min-width: 70rem) {
	.container {
		width: 40vw;
	}
}

/** Header
--------------------------------------------- **/

.section.header {
	text-align: center;
	font-size: 1.2rem;
	color: #E9E9E9;
	background-color: #739FDC;
}

@media (min-width: 50rem) {
	.section.header {
		font-size: 1.6rem;
	}	
}

@media (min-width: 70rem) {
	.section.header {
		font-size: 2rem;
	}
}

.section.header * {
	background-color: #739FDC;
}

.header {
}

.menu {
	display: inline-block;
}

.item {
	float: left;
	margin: 0 10px;
}

.item a {
	padding: 0 4px;
	color: #E9E9E9;
	background-color: #739FDC;
	border-radius: 2px;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

.item a:hover {
	color: #739FDC;
	background-color: #E9E9E9;
}

@media (min-width: 50rem) {
	.item {
		margin: 0 20px;
	}
}

/** Content
--------------------------------------------- **/

.section.content a {
	color: #333333;
	border-radius: 2px;
	background-color: #E3E3E3;
}

.hi {
	font-size: 1.2rem;
}

@media (min-width: 50rem) {
	.hi {
		font-size: 1.6rem;
	}
}

@media (min-width: 70rem) {
	.hi {
		font-size: 2rem;
	}
}

.projects {
	margin-top: 20px;
}

.project {
	margin-top: 20px;
}

.name {
	font-weight: 400;
}

.name a {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}	

.name a:hover {
	color: #E9E9E9;
	background-color: #739FDC;
}

.languages {
	font-size: 0.8rem;
	font-style: italic;
}