html {
	background-color: #f3f3f3;
}

body {
	 padding: 50px 0;
	 font-size: 16px;
	 line-height: 25.875px;
	 font-family: "Futura W01 Book";
}

h1 {
	 font-size: 106px;
	 line-height: 108px;
	 margin-bottom: 54px;
	 text-align: center;
	 text-transform: uppercase;
	 font-family: "Futura W01 Heavy";
	 font-weight: 900;
	 font-style: normal;
}

h2 {
	 font-size: 70px;
	 line-height: 105px;
	 margin-bottom: 27px;
	 text-align: center;
	 font-family: "Futura W01 Light";
	 font-weight: 300;
	 font-style: normal;
	 border-style: solid;
	 border-width: 1px 0px;
}

span {
	text-align: center;
}

p.intro {
	 margin-bottom: 64px;
	 font-size: 28px;
	 border-top: 1px;
	 border-bottom: 1px;
	 padding: 30px;
	 text-align: center;
	 line-height: 38px;
	 border-style: solid;
}

p {
	 font-size: 1em;
	 line-height: 150%;
	 color: rgba(51, 51, 51, 0.80);
	 margin-bottom: 30px;
	 -webkit-column-count: 2;
	 -o-column-count: 2;
	 -moz-column-count: 2;
	 -ms-column-count: 2;
	 column-count: 2;
	 font-family: "DINNextLTW23-UltraLight";
}

article {
	 margin: 0 auto;
	 width: 800px;
}

h3 {
	 font-size: 1.56em;
	 font-family: "DIN Next LT W23 Light";
	 line-height: 150%;
}

footer.site-footer:before {
	 content: "";
	 display: table;
}

footer.site-footer:after {
	 content: "";
	 display: table;
	 clear: both;
}

footer.site-footer {
	 background-color: #333;
	 color: #fff;
	 text-align: center;
	 padding: 5em 2em;
	 width: auto;
	 margin: 0 auto;
}

ul.footer-nav {
	 list-style: none;
	 width: 592.625px;
}

li.footer-li {
	 margin: 0 0.5em 0 0.5em;
	 font-size: 16px;
	 display: inline-block;
}

a.footer-a {
	 color: #ffffff;
}

